<h2><%= l(:label_upload_form_edit) %></h2>

<% form_tag({:controller => 'uploads', :action => 'update'}, :class => "tabular", :method => :put, :multipart => true) do %>

  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_save) %>
  <%= link_to l(:button_cancel), :back %>
<% end %>


